<% @docs.each do |doc| %>
  <div class="wrapper_with_padding">
    <div id="docs">
      <div class="doc">

        <div class="title"><%= link_to doc.title, doc %></div>


        <p><%= time_ago_in_words(doc.created_at) %></p>
        <p><%= truncate(doc.content, length: 50) %></p>
      </div>
    </div>
  </div>
<% end %>
<button><%= link_to "Create Doc", new_doc_path %></button>