<div class="wrapper_with_padding">
<div id="doc_show">
  <div class="title"> <%= @doc.title  %></div>
  <p> <%=  @doc.content%> </p>

  <div>
    <%= link_to "All Docs", docs_path, class: "button" %>
    <%= link_to "Fix Doc", edit_doc_path(@doc), class: "button" %>
    <%= link_to "Trash it", doc_path(@doc), method: :delete, data: {confirm: "Are you sure?"}, class: "button" %>
  </div>
</div>

</div>

