<div class="banner" style="padding:15px; text-align:center;">
  <div class="banner-content">
    <h1>Keep App </h1>
    <p> Keep Everything in your space </p>
    <btn class="btn btn-primary"><%= link_to "Enter", new_user_registration_path %></btn>

  </div>
</div>