<!DOCTYPE html>
<html>
<style>
    .index{
        color: whitesmoke;
    }
</style>
<head>
  <title>Keep</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<header>
  <header_inner>

      <%= link_to "Keep App" , root_path, class: "index"  %>

    <nav>
      <% if user_signed_in? %>

          <%= link_to "Create Doc", new_doc_path, class: "index" %>

          <%= link_to "Sign Out", destroy_user_session_path, method: :delete , class: "index" %>
      <% else %>

          <%= link_to "Log In", new_user_session_path, class: "index" %>
      <% end %>
    </nav>
  </header_inner>
</header>


<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>
</body>
</html>
